h1 {
    font-size: large;
}

p {
    font-style: oblique;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align:center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: beige;
}

.info {
    margin: 20px;
    padding: 10px;
    background-color: beige;
    max-width: fit-content;
}